<h6>Created By Jenish</h6>

<form #heroForm = "ngForm" (ngSubmit)="onSubmit()">
        
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="name" name="name" #names>
        <!-- [(ngModle)]="name" and #name cannot be same  -->
    </div>

    <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="alterEgo" name="altergo" #alteregos>
    </div>

    <div class="form-group">
        <label for="power">Hero Power</label>
        <select required id="power" class="form-control" >
            <option *ngFor="let power of powers" value="{{power}}">{{power}}</option>
        </select>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!heroForm.form.valid" (click)="newHero();">Submit</button>
</form>
{{submitted}}
<div [hidden]="!submitted">
    <h2>You submitted the following : </h2>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9 pull-left"></div>
    </div>

    <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left"></div>
    </div>
        
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left"></div>
    </div>

    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
   
</div>

<button (click)="showConfig()">Show Data</button>
<button (click)="addData()">Add Data</button>
<button (click)="deleteData()">Delete</button>
