/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.ng-valid:required {
    border-left: 4px solid green;
}

.ng-invalid:not(form) {
    border-left: 4px solid red;
}